{
  "backend/**/*.{js,ts}": [
    "prettier --write --config ./backend/.prettierrc",
    "eslint --fix --max-warnings 0 --config ./backend/eslint.config.mjs"
  ],
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --config ./frontend/.prettierrc",
    "eslint --max-warnings 0 --config ./frontend/eslint.config.js"
  ]
}