MONGO_URI="mongodb+srv://ckagiri:Passh3rd@cluster0.ksdd0hn.mongodb.net/ligipredictor?retryWrites=true&w=majority"

NODE_ENV=development
PORT=3110

API_FOOTBALL_DATA_KEY=43ef278ba6484fd786fe5d3339871c6c
